@font-face {
    font-family: 'SFUIDisplayBold';
    src: url(/assets/fonts/SFUIDisplay-Bold.woff)  format('woff');
}
@font-face {
    font-family: 'SFUIDisplayLight';
    src: url(/assets/fonts/SFUIDisplay-Light.woff)  format('woff');
}
@font-face {
    font-family: 'SFUIDisplayRegular';
    src: url(/assets/fonts/SFUIDisplay-Regular.woff)  format('woff');
}
@font-face {
    font-family: 'SFUIDisplaySemibold';
    src: url(/assets/fonts/SFUIDisplay-Semibold.woff)  format('woff');
}
@font-face {
    font-family: 'NewYorkExtraLargeBold';
    src: url(/assets/fonts/NewYorkExtraLargeBold.otf)  format('otf');
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    padding: 15px 35px 0 50px;
    display:flex;
    justify-content: space-between;
    background-color: #fff;
    margin-bottom: -15px;
    
}
.header__navigation{
    display: flex;
    align-items: center;
}
.header__logo{
    margin-right: 22px;
}
.header__nav{
    display: flex;
    align-items: center;
    font-family: 'SFUIDisplayRegular', serif;
    font-weight: 400;
    color: #585858;
    font-size: 14px;
    line-height: 40px;
    
}
.header__list{
    display: flex;
    list-style-type: none;
}

.header__item{
    margin-right: 48px;
}

.header__item:last-child{
    margin-right: none;
}

.header__autorization{
    display: flex;
    align-items: center;
}
.header__btn--sign-up{
    width: 99px;
    height: 48px;
    background-color: #FD665E;
    border-radius: 4px;
    font-family: 'SFUIDisplaySemibold', serif;
    font-weight: 600;
    color: #fff;
    font-size: 14px;
    line-height: 40px;
    border: none;
    margin-left: 40px;
}

.header__btn--sign-in{
    font-family: 'SFUIDisplayRegular', serif;
    font-weight: 400;
    color: #585858;
    font-size: 14px;
    line-height: 40px;
    border: none;
    background: none;
    margin-left: 40px;
}


.container{
    max-width: 1090px;
    margin: 0 auto;
}

.main__title{
    max-width: 800px;
    text-align: left;
    font-family: 'NewYorkExtraLargeBold', serif;
    font-weight: 600;
    color: #000;
    font-size: 113px;
    line-height: 100%;
    margin-bottom: 45px;
}

.main__red-text{
    color: #FD665E;
}

.main__bottom{
    display: flex;
    justify-content: space-between;
    margin-bottom: 107px;
}
.main__left-block{
    display: flex;
    flex-direction: column;
}

.main__text{
    font-family: 'SFUIDisplayRegular', serif;
    font-weight: 400;
    color: #000;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.01em;
    max-width: 290px;
    margin-bottom: 48px;
}

.main__wrap-img{
    max-width: 765px;
}

.main__img{
    width: 100%;
}

.main__btn{
    width: 179px;
    height: 56px;
    background-color: #FD665E;
    border-radius: 4px;
    font-family: 'SFUIDisplaySemibold', serif;
    font-weight: 600;
    color: #fff;
    font-size: 14px;
    line-height: 40px;
    border: none;

}

.gallery__title{
    display: block;
    max-width: 535px;
    font-family: 'NewYorkExtraLargeBold', serif;
    font-weight: 600;
    color: #000;
    font-size: 48px;
    line-height: 124%;
    text-align: center;
    margin: 0 auto 46px;
}
.gallery__block-img{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px;
    margin-bottom: 128px;
}

.gallery__img-inner {
    position: relative;
    cursor: pointer;
}
.gallery__img-inner::before{
    content:'';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:rgba(30, 30, 30, 0.4);
    opacity: 0;
    transition: all .4 ease;
    -webkit-transition: all .4 ease;
    -moz-transition: all .4 ease;
    -ms-transition: all .4 ease;
    -o-transition: all .4 ease;
} 

.gallery__img-inner:hover::before{
    opacity: 1;
}

.gallery__wrap-img {
    margin: 15px 0;
    padding: 0 15px;
}
.gallery__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__img-increase{
    position: absolute;
    top: 178px;
    left: 139px;
    /* display: none; */
}

.gallery__img-increase:hover{
    /* display: block; */
    
}

.feature__title{
    display: block;
    max-width: 435px;
    font-family: 'NewYorkExtraLargeBold', serif;
    font-weight: 600;
    color: #000;
    font-size: 48px;
    line-height: 124%;
    margin-bottom: 40px;
}


.feature__wrapper{
    display: flex;
    justify-content: space-between;
}

.feature__wrap-img{
    max-width: 535px;
}

.feature__img{
    width: 100%;
}



.feature__right-block{
    max-width: 305px;
}

.feature__list{
    list-style-type: none;
    padding-left: 0;
    
}

.feature__item1{
    position: relative;
}
.feature__item1::before{
    content: "";
    display: block;
    width: 48px;
    height: 56px;
    background-image: url(/assets/images/guarantion.svg);
    position: absolute;
    top: 6px;
    left: -79px;
}

.feature__item2{
    position: relative;
}
.feature__item2::before{
    content: "";
    display: block;
    width: 39px;
    height: 48px;
    background-image: url(/assets/images/feel.svg);
    position: absolute;
    top: 6px;
    left: -79px;
}

.feature__item3{
    position: relative;
}
.feature__item3::before{
    content: "";
    display: block;
    width: 40px;
    height: 53px;
    background-image: url(/assets/images/escort.svg);
    position: absolute;
    top: 6px;
    left: -79px;
}
.feature__item-title{
    font-family: 'SFUIDisplayBold', serif;
    font-weight: 700;
    color: #000;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.01em;
    margin-bottom: 8px;
}

.feature__item-text{
    font-family: 'SFUIDisplayRegular', serif;
    font-weight: 400;
    color: #000;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.01em;
    margin-bottom: 48px;
}

.feature__btn{
    width: 175px;
    height: 56px;
    background-color: #FD665E;
    border-radius: 4px;
    font-family: 'SFUIDisplaySemibold', serif;
    font-weight: 600;
    color: #fff;
    font-size: 14px;
    line-height: 40px;
    border: none;
    text-transform: uppercase ;
}

.partners__title{
    display: block;
    max-width: 300px;
    font-family: 'NewYorkExtraLargeBold', serif;
    font-weight: 600;
    color: #000;
    font-size: 48px;
    line-height: 124%;
    margin-bottom: 56px;
}

.partners__wrap-img{
    display: flex;
    justify-content: space-between;
    margin-bottom: 105px;
}

.footer__wrap{
    display: flex;
    justify-content: space-between;
    margin: 84px 0;
}
.footer__nav{
    display: flex;
    align-items:center;
}

.footer__list{
    display: flex;
    list-style-type: none;
}

.footer__item{
    margin-right: 48px;
    font-family: 'SFUIDisplaySemibold', serif;
    font-weight: 600;
    color: #585858;
    font-size: 12px;
    line-height: 40px;
}

.footer__wrap-img{
    display: flex;
    align-items:center;
}